{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block body %}
    <h1>Site index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.nom }}</td>
                <td>
                    <a href="{{ path('site_edit', {'id': site.id}) }}">"Modifier"</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun site enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('site_new') }}">Ajouter Site</a>
{% endblock %}
