{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <p>
        Si un compte est bien lié à votre mail, vous venez de recevoir un lien de réinitialisation de votre mot de passe.
        Le lien expirera d'ici une heure.
    </p>
    <p>Si vous ne recevez pas de mail, veuillez vérifier vos spams ainsi que votre adresse mail ou <a href="{{ path('app_forgot_password_request') }}">essayez de nouveau</a>.</p>
{% endblock %}
