<h1>Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez suivre le lien suivant:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans 1 heure.</p>

<p>Merci!</p>
