h1{
    text-align: center;
font-size: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCFF4A;
}

.btnAlignes{
    display: inline-block;
    display: flex;
    justify-content: center;



}

.btn {
    width: 100px;
    height: 45px;
    left: 32px;
    top: 911px;

    background: #FCFF4A;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin-right: 25px;
  }

.btnAnnuler{
    width: 100px;
    height: 45px;
    left: 32px;
    top: 911px;

    background: #FCFF4A;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;


}

.btnAnnuler a:hover a:visited, a:active {
    background: no-repeat;
    text-decoration: none;
    color: #e0e0e0;
}


.colonneGauche{
    line-height: 35px;
}
.colonneDroite{
    line-height: 30px;
}




.containerFormulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
    padding: 25px;

}