
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FCFF4A;

}

h1 {
    text-align: center;
}

.monProfil {
    text-align: center;
    height: 50px;
    line-height: 50px;

}

header {
    color: white;
}
li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0,0,0,0.4);
    border-radius:5px;
}

img.logo {
    display:block;
    width : 75px;
    height : 75px;

}

.buttonretouruser {

    text-align: center;

}

.container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;


}

footer {
    color: #F5F5F5;
    background-color: black;
    width: 100%;
    text-align: center;
    text-wrap: normal;
    position: absolute;
    bottom: 0;

}
