
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FCFF4A;
}

h1 {
    text-align: center;
}

.monProfil {
    text-align: center;
    height: 50px;
    line-height: 50px;

}

header {
    color: white;
}
li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0,0,0,0.4);
    border-radius:5px;
}

img.logo {
    display:block;
    width : 75px;
    height : 75px;

}

.buttonretouruser {

    text-align: center;

}

.container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;


}


.btn {
    width: 100px;
    height: 45px;
    left: 32px;
    top: 911px;

    background: #FCFF4A;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin-right: 25px;
}

footer {
    color: #F5F5F5;
    background-color: black;
    width: 100%;
    text-align: center;
    text-wrap: normal;
    position: fixed;
    bottom: 0;

}

/*----------CSS ADRIEN--------------*/
.adefilement{
    height: 500px;
    width: 150px;
    overflow-y: auto;
}

.a1{
    flex: 3 1 0;
}
.a2{
    flex: 2 1 0;
}
.a3{
    flex: 1 1 0;
}
.a4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.a5 {
    max-width: 450px;
}

.a6{
    flex: 5 1 0;
    justify-content: center;
    align-items: center;
}

.aflex{
    display: flex;
}

.abox{
    margin: 0 auto;
    position: relative;
    min-width: 250px;
    min-height: 300px;
    max-height: 500px;

    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border-right: 1px solid rgba(255, 255,255,0.2);
    border: 1px solid rgba(255,255, 255,0.5);
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
}

.abox h1{
    color: #0f172a;
    margin-bottom: 20px;
}

.abox .alist,
.abox .blist
{
    position: relative;
    display: flex;
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.abox .alist:hover
{
    background: #fff;
    box-shadow: -15px 30px 50px rgba(0,0,0,0.5);
    transform: scale(1.15) translatex(30px) translateY(-15px);
    z-index: 1000;
}

.abox .alist .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}
.abox .alist .imgBx img
{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.abox .alist .acontent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #288775;
}

.abox .alist .acontent h4,
.abox .blist .acontent h4

{
    line-height: 1.2em;
    font-weight: 600;
    transition: 0.5s;
}

.abox .alist .acontent p,
.abox .blist .acontent p

{
    line-height: 0.75em;
    transition: 0.5s;
    margin-left:30px;

}

.abox .alist:hover .acontent h4,
.abox .alist:hover .acontent p
{
    color: #333;
}
