{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/SortieCSS.css') }}">
{% endblock %}

<form class="btnSupprimer" method="post" action="{{ path('sortie_delete', {'id': sortie.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette sortie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
    <button class="btnSupp">Supprimer la sortie</button>
</form>

