{% extends 'base.html.twig' %}

{% block title %}New Etat{% endblock %}

{% block body %}
    <h1>Create new Etat</h1>

    {{ include('etat/_form.html.twig') }}

    <a href="{{ path('etat_index') }}">back to list</a>
{% endblock %}
