<br>{{ form_start(form) }}
    {{ form_widget(form) }}
<br><br><br><br>
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
<button class="btn">Annuler</button>
{{ form_end(form) }}
